*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Common Styles */
.content2_1 span,
.content3_1 span{
    color:red;
}
.content2_1 h2{
    font-size:4rem;
}
.content3_1 h2{
    font-size: 4rem;
   
}
 .content2_1 p,
 .content3_1 p{
    font-size: 1rem;
    color:rgba(0, 0, 0, 0.5)
   
}
/* Navbar Section */
.container1{
   max-width: 1140px;
    margin:20px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:100px;
    
}
.content1{
    margin-left:15px;
    margin-right:15px;
}

.content2 ul{
    display:flex;
    gap:30px;
}
.content2 ul li{
    list-style-type: none;
}
.content2 ul li a{
    text-decoration: none;
    color:black;
    font-size:1.4rem;
}
.content2 ul li:nth-child(2) a,
.content2 ul li:nth-child(3) a{
    color: rgba(0, 0, 0, 0.5);
}


/* Banner Section */
 .container2{
    max-width: 1140px;
      margin:20px auto;
    display:flex;
    justify-content: space-between;
    gap:100px;
    align-items: end;
}
.content2_1{
 width:calc(100%-100px);
}

.content2_2 img{
    width:300px;
    height: 300px;
   
} 


/* Our Plants Section */
.container3{
    max-width:1140px;
    margin: 40px auto;
}
.content3_1{
    text-align: center;
}
.content3_1 p{
    max-width:880px;
    margin:10px auto;
} 

/* plant card Section */
 .container3_1{
   padding:0 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 25px;
    margin-bottom:100px;
}
.content3_2{
    display:flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
}
 .content3_2 img{
    width:100%;
    
} 
.content3_2 p{
    font-weight: bold;
}
.content3_2 button{
   
    background-color: rgba(233, 90, 8, 1);
    color:white;
    border:none;
    padding:15px;
    width:100%;
}  
/* Flower & Plants section */
/* .container4{
    max-width:1140px;
    margin:30px auto;
    display: flex;
    justify-content: space-between;
    gap:100px;
   

}
.content4_1{
    position:relative;
}
.content4_1_1{
    max-width:100%;
    margin-left:15px;
}
.content4_1_2{
    width:200px;
    height:200px;
    position:absolute;
    top:-80px;
    right:-80px;

}
.content4_1_2:hover{
    width:200px;
    height:200px;
    position:absolute;
    top:-80px;
    right:-80px;
}
.content4_2{
    width:100%;
}
.content4_2 h3{
    font-size:4rem;
    margin-bottom:15px;
}
.content4_2 ul{
    font-size:1.8rem;
}
.content4_2 ul li{
    margin-bottom:10px;
    color: rgba(0, 0, 0, 0.5)
} */


/* Latest Deals */
/* .container5{
    max-width:1140px;
    margin:70px auto;
} */





/* responsive design */
@media screen and (max-width: 576px) {

    /* navbar section */
 .content2 ul li a{
    text-decoration: none;
    color:black;
    font-size:1rem;
 }
    .content2 ul{
        gap: 5px;
        justify-content: end;
    }
    .content1 img{
        width: 80%;
    
    }

    
    .content2 ul li:nth-child(1) a,
    .content2 ul li:nth-child(2) a,
    .content2 ul li:nth-child(3) a{
    visibility: hidden;
    font-size:.5rem;
    }
    .content2 ul li:nth-child(4) a{
        word-spacing: 0px;
        font-weight: normal;
        padding-right:10px;
        font-size: 1rem;
    }
 /* Banner Section */ 
     .container2 {
        flex-direction: column-reverse;
        gap:25px;
        padding: 0 10px;
    }
    .content2_1{
       
    }
    .content2_1 h2{
        font-size: 2.2rem;
        line-height: 40px;
        margin-bottom:20px;
    }
    .content2_2 img{
        max-width:100%;
    } 

    /* Our Plants Section */
     .container3{
        
        text-align: center;
    }
.container3_1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
    align-items: center;
}
.content3_1 h2{
   font-size: 2.2rem;
}

/* Card Section */

 .content3_2 img{
    max-width:100%;
 } 


/* Flower & Plants Lover */
/* .container4{
    flex-direction: column;
    gap:30px;
}
.content4_2{
    text-align: left;
    margin:20px;
    padding:0px 30px;
   
}
.content4_2 h3{
    font-size:2rem;
    margin-bottom:15px;
}
.content4_2 ul{
    font-size:1.2rem;
}
.content4_1_2{
    display:none;
}

}  */