*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Common Styles */
.content2_1 span,
.content3_1 span{
    color:red;
}
.content2_1 h2{
    font-size:4rem;
}
.content3_1 h2{
    font-size: 4rem;
   
}
 .content2_1 p,
 .content3_1 p{
    font-size: 1rem;
    color:rgba(0, 0, 0, 0.5)
   
}
/* Navbar Section */
.container1{
   max-width: 1140px;
    margin:20px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:100px;
    
}
.content1{
    margin-left:15px;
    margin-right:15px;
}

.content2 ul{
    display:flex;
    gap:30px;
}
.content2 ul li{
    list-style-type: none;
}
.content2 ul li a{
    text-decoration: none;
    color:black;
    font-size:1.4rem;
}
.content2 ul li:nth-child(2) a,
.content2 ul li:nth-child(3) a{
    color: rgba(0, 0, 0, 0.5);
}


/* Banner Section */
 .container2{
    max-width: 1140px;
      margin:20px auto;
    display:flex;
    justify-content: space-between;
    gap:100px;
    align-items: end;
}
.content2_1{
 width:calc(100%-100px);
}

.content2_2 img{
    width:300px;
    height: 300px;
   
} 


/* Our Plants Section */
.container3{
    max-width:1140px;
    margin: 40px auto;
}
.content3_1{
    text-align: center;
}
.content3_1 p{
    max-width:880px;
    margin:10px auto;
} 

/* plant card Section */
 .container3_1{
   padding:0 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 25px;
    margin-bottom:100px;
}
.content3_2{
    display:flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
}
 .content3_2 img{
    width:100%;
    
} 
.content3_2 p{
    font-weight: bold;
}
.content3_2 button{
   
    background-color: rgba(233, 90, 8, 1);
    color:white;
    border:none;
    padding:15px;
    width:100%;
    cursor: pointer;
    transition: 5s;
}  
.content3_2 button:hover{
    background-color:rgba(0, 128, 0, 0.26);
  
}  


/* Flower & Plants section */
 .container4{
    max-width:1140px;
    margin:20px auto;
    display: flex;
    justify-content: space-between;
    gap:100px;
   

}
.content4_1{
    position:relative;
}
.content4_1_1{
    max-width: calc(100%-50px);
   
}
.content4_1_2{
    width:200px;
    height:200px;
    position:absolute;
    top:-80px;
    right:-80px;
    transition:transform 3s;

}
.content4_1_2:hover{
    width:200px;
    height:200px;
    position:absolute;
    top:-80px;
    right:-80px;
    cursor: pointer;
    transform:rotate(360deg);
}
.content4_2{
    width:calc(100%-50px);
}
.content4_2 h3{
    font-size:4rem;
    margin-bottom:15px;
}
.content4_2 ul{
    font-size:1.8rem;
}
.content4_2 ul li{
    margin-bottom:10px;
    color: rgba(0, 0, 0, 0.5)
} 


/* Latest Deals */
 .container5{
    max-width:1140px;
    margin:70px auto;
} 
.content5_1{
    text-align: center;
}
.content5_1 span{
    color:red;
}
.content5_1 h3{
    font-size:4rem;
}
.content5_1 p{
    font-size:1rem;
    color:rgba(0, 0, 0, 0.5)
}

/* Deals section */
.content5_2{
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
    gap:10px;
   position:relative;
   margin-top:10px;
    
}

.part1{
    background-image:linear-gradient(#070211, #07021100), url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    height: 200px;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 70px 0px;
   
}
.part2{

background-image:linear-gradient(#070211, #07021100), url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    height: 420px ;
    grid-row:span 2;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 170px 0px;
}

.part3{

background-image:linear-gradient(#070211, #07021100), url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    height: 200px;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 70px 0px;
}
.part1 h3,
.part3 h3{
    font-size:1.5rem;
}
.part2 h3{
    font-size:3rem;
}
.part1 a,
.part3 a {
    color:white;
    font-size: 1rem;
}
.part2 a{
    font-size:2rem;
    color:white;
}

/* Join Bunch Section */
.container6{
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 530px;
    text-align: center;
    padding-top:150px;
    margin:30px auto;
}
.container6 h2{
    color:white;
    font-size: 4rem;
}
.container6 input{
    padding:10px 15px;
    width:650px;
}
.container6 button{
    width:190px;
    padding:11px;
    margin-left:-20px;
    border:none;
    background-color:rgba(233, 90, 8, 1) ;
    color:white;
    transition: 3s;
}

.container6 button:hover{
    width:150px;
    cursor: pointer;
    margin-left:0px;
    border:none;
    background-color:#2bca6036 ;
}
/* Footer Section */
.container7{

    max-width:1140px;
    margin:70px auto; 
    display:flex;
    gap:150px;
}
.container7 p{
    font-size:1.4rem;
    width:300px;
}
.content7_1{
    display:flex;
}
.content7_1 ul li{
    list-style: none;
    line-height: 50px;
}
.content7_1 a{
    text-decoration: none;
    color:black;
}
.content7_1_1 {
    display:grid;
   grid-template-columns: 1fr 1fr;
    gap:20px;
   align-items: center;
}
.content7_1_1{
    text-align: left;
}
.content7_2 img{
    margin-left:20px;
    
}








/* responsive design */
@media screen and (max-width: 576px) {

    /* navbar section */
 .content2 ul li a{
    text-decoration: none;
    color:black;
    font-size:1rem;
 }
    .content2 ul{
        gap: 5px;
        justify-content: end;
    }
    .content1 img{
        width: 80%;
    
    }

    
    .content2 ul li:nth-child(1) a,
    .content2 ul li:nth-child(2) a,
    .content2 ul li:nth-child(3) a{
    visibility: hidden;
    font-size:.5rem;
    }
    .content2 ul li:nth-child(4) a{
        word-spacing: 0px;
        font-weight: normal;
        padding-right:10px;
        font-size: 1rem;
    }
 /* Banner Section */ 
     .container2 {
        flex-direction: column-reverse;
        gap:25px;
        padding: 0 10px;
    }
 
    .content2_1 h2{
        font-size: 2.2rem;
        line-height: 40px;
        margin-bottom:20px;
    }
    .content2_2 img{
        max-width:100%;
    } 

    /* Our Plants Section */
     .container3{
        
        text-align: center;
    }
.container3_1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
    align-items: center;
}
.content3_1 h2{
   font-size: 2.2rem;
}

/* Card Section */

 .content3_2 img{
    max-width:100%;
 } 


/* Flower & Plants Lover */
  .container4{
    flex-direction: column;
    gap:30px;
}
.content4_2{
    text-align: left;
    margin:20px;
    padding:0px 30px;
   
}
.content4_2 h3{
    font-size:2rem;
    margin-bottom:15px;
}
.content4_2 ul{
    font-size:1.2rem;
}
.content4_1_2{
    display:none;
} 
.content4_1_1{
    width:99%;
    padding:0 10px;
}

/* Latest deals section */
.container5{
  
    margin: 30px;
}
.content5_1 h3{
    font-size:2.2rem;
}

.content5_2{
    grid-template-columns: 1fr;
   margin-top:50px;
}
.part2 h3{
    font-size:1.5rem;
}
.part2 a{
    font-size:1rem;
    color:white;
}
.part1{
    width:100%;
    height:200px;
}
.part2{
    width:100%;
    height: 200px;
    padding:70px 0px;
}
.part3{
    height: 200px;
}

/* Join Bunch Section */
.container6{
    height: 430px;
    margin:70px auto;
}
.container6 h2{
    color:white;
    font-size: 1.8rem;
    margin-bottom:20px;
}
.container6 input{
    padding:10px 15px;
    width:250px;
}
.container6 button{
    width:100px;
    padding:11px;
    margin-left:-20px;
    border:none;
    background-color:rgba(233, 90, 8, 1) ;
}
/* Footer Section */
.container7{
   flex-direction:column;
   justify-content: start;
    gap:30px;
    padding:15px;
}
.container7 p{
    font-size:1.4rem;
    
}
.content7_1 ul li{
    list-style: none;

}
.content7_1 a{
    text-decoration: none;
    color:black;
}
.content7_1 {
    display:flex;
   flex-direction: column;
   gap:20px;
  text-align: left;
  justify-content: start;
}
.content7_2 img{
    margin-left:20px;
    
}

}


@media screen and (min-width: 576px) and (max-width:1290px) {
     /* navbar section */
 .content2 ul li a{
    text-decoration: none;
    color:black;
    font-size:1rem;
 }
    .content2 ul{
        gap: 5px;
        justify-content: end;
    }
    .content1 img{
        width: 80%;
    
    }

    
    .content2 ul li:nth-child(1) a,
    .content2 ul li:nth-child(2) a,
    .content2 ul li:nth-child(3) a{
    visibility: hidden;
    font-size:.5rem;
    }
    .content2 ul li:nth-child(4) a{
        word-spacing: 0px;
        font-weight: normal;
        padding-right:10px;
        font-size: 1rem;
    }
 /* Banner Section */ 
     .container2 {
        flex-direction: column-reverse;
        gap:25px;
        padding: 0 10px;
    }
  
    .content2_1 h2{
        font-size: 2.2rem;
        line-height: 40px;
        margin-bottom:20px;
    }
    .content2_2 img{
        max-width:100%;
    } 

    /* Our Plants Section */
     .container3{
        
        text-align: center;
    }
.container3_1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
    align-items: center;
}
.content3_1 h2{
   font-size: 2.2rem;
}

/* Card Section */

 .content3_2 img{
    max-width:100%;
 } 


/* Flower & Plants Lover */
  .container4{
    flex-direction: column;
    gap:30px;
}
.content4_2{
    text-align: left;
    margin:20px;
    padding:0px 30px;
   
}
.content4_2 h3{
    font-size:2rem;
    margin-bottom:15px;
}
.content4_2 ul{
    font-size:1.2rem;
}
.content4_1_2{
    display:none;
} 
.content4_1_1{
    width:99%;
    padding:0 10px;
}

/* Latest deals section */
.container5{
  
    margin: 30px;
}
.content5_1 h3{
    font-size:2.2rem;
}

.content5_2{
    grid-template-columns: 1fr;
   margin-top:50px;
}
.part2 h3{
    font-size:1.5rem;
}
.part2 a{
    font-size:1rem;
    color:white;
}
.part1{
    width:100%;
    height:200px;
}
.part2{
    width:100%;
    height: 200px;
    padding:70px 0px;
}
.part3{
    height: 200px;
}

/* Join Bunch Section */
.container6{
    height: 430px;
    margin:70px auto;
}
.container6 h2{
    color:white;
    font-size: 1.8rem;
    margin-bottom:20px;
}
.container6 input{
    padding:10px 15px;
    width:250px;
}
.container6 button{
    width:100px;
    padding:11px;
    margin-left:-20px;
    border:none;
    background-color:rgba(233, 90, 8, 1) ;
}
/* Footer Section */
.container7{
   flex-direction:column;
   justify-content: start;
    gap:30px;
    padding:15px;
}
.container7 p{
    font-size:1.4rem;
    
}
.content7_1 ul li{
    list-style: none;

}
.content7_1 a{
    text-decoration: none;
    color:black;
}
.content7_1 {
    display:flex;
   flex-direction: column;
   gap:20px;
  text-align: left;
  justify-content: start;
}
.content7_2 img{
    margin-left:20px;
    
}

}
    































